
<div class="container "id='signin'>
	<div class="center-block">
		<div class="text-center">
		  <h3>Sign In</h3>
		  <form name="signinForm" ng-submit='signin()'>
		    <input type='text'ng-model='user.username'>
		    <input type="password" ng-model='user.password'>
		    <button>Sign In</button>
		  </form>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row text-center"><h2>Or</h2><div>
</div>

<div class="container "id='signup'>
	<div class="center-block">
		<div class="text-center">
		  <h3>Sign Up</h3>  
		  <form name="signinForm" ng-submit='signup()'>
		    <input type='text'ng-model='newUser.username'>
		    <input type="password" ng-model='newUser.password'>
		    <button>Sign Up</button>
		  </form>
		</div>
  </div>
</div>